<div class="logo">
  <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
  <a href="index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<div class="cart">
  <a href="cart/index.html">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <path d="M18.9 32.6c1.1 2.4 2.5 3.3 5.4 3.3 ..."></path>
      <path d="M90.1 29.7c1-3.3 1.5-7.3 1.5-11.2 ..."></path>
      <path d="M24.7 71v5h-5.2v-5.4c-1.4-0.3-2.7-0.6-3.7-0.9 ..."></path>
      <path d="M58.8 68.9c2.9-0.1 6.4-0.9 8.3-1.4 ..."></path>
      <path d="M24.3 68.4c2.9-0.1 6.4-0.9 8.3-1.4 ..."></path>
      <path d="M60.1 71.4v3.3h-5.2v-3.4c-1.7-0.3-3.3-0.7-4.6-1 ..."></path>
    </svg>
  </a>
</div>
